* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, p {
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/** FONDO BODY **/
body {
    min-height: 100vh;
    will-change: auto;
    background: url('../img/fondo.jpg') no-repeat center center/cover;
}

/** ESTILO PARA EL LOADER **/
.loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    animation: loader 2s ease-in forwards;
    z-index: 1000;
}

.loader img {
    height: 50px;
    width: 50px;
}

@keyframes loader {
    0% {opacity: 1;}
    90% {opacity: 1;}
    100% {
        opacity: 0;
        display: none;
    } 
}

/**  ESTILOS PARA ALERTGLOBAL  **/

.alertaGlobal {
    z-index: 999999999;
    position: fixed !important;
    height: 60em;
    top: 40px;
    right: 40px;
    padding: 10px 10px 10px 10px;
    gap: 10px;
    overflow-y: auto;
}

.alert div {
    text-align: left;
}

.alert a {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #ff8f8fd3;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    transition: all .3s ease;
    display: flex;
    align-items: start;
}



/**  ESTILOS PARA EL LOGO  **/
.navbar-brand img {
    height: 120px;
    width: 120px;
}

/** ESTILOS PARA NAVBAR **/

.nav {
    padding: 0 100px;
    border: 2px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li a {
    font-size: 16px;
    font-weight: 500;
    transition: all .3s ease;
    color: #DDE6ED;
    border-radius: 50px;
}

.nav li a:hover {
    color: #ffffff;
    background-color: #5f8affc9;
}

.active {
    color: #ffffff;
    background-color: #5f8affc9;
    font-size: 16px;
    font-weight: 500;
    transition: all .3s ease;
    color: #DDE6ED;
    border-radius: 50px;
}

.nav li a:active {
    color: #ffffff;
    background-color: #5f8affc9;
}

.dropdown-toggle {
    font-size: 33px !important;
}

.dropdown-toggle:hover {
    background: none !important;
}

/** ESTILOS PARA BIENVENIDA **/
.nav-principal {
    padding-top: 40px !important;
}

.div-welcome {
    margin-top: 180px !important;
    color: white;
}

.div-welcome h1 {
    font-size: 60px;
    font-weight: bolder;
}

.div-welcome p {
    font-size: 16px;
}

.div-welcome button {
    border-radius: 50px;
    padding: 10px 22px;
    transition: all 0.3s ease;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #3d71ff;
}

.div-welcome button:hover {
    background-color: #5f8aff;
    box-shadow: 0 4px 10px gray;
}

.div-welcome button:active {
    transform: scale(0.9);

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.up-text {
    animation: fadeInUp 1s ease-out forwards;
}

/**  ESTILO PARA EL CUADRO DE CREAR PERSONA  **/

.create-person {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    top: 0;
    margin: 0 !important;
    left: 13em;
    height: 100%;
    backdrop-filter: blur(3px);
    will-change: backdrop-filter;
}

/**  ESTILOS PARA LA TABLA DE PERSONAS  **/

tbody {
    height: 10em;
    overflow-y: scroll;
}

/**  ESTILOS PARA ENLACE DE INICIO  **/

.link-persons {
    text-decoration: none;
    color: #0004ff;
    font-weight: bold;
    transition: all 0.7s ease;
}

.link-persons:hover {
    color: #000000;
}
